<div class="background">
<div align="center">
    <h1>HISTORY DETAILS OF TICKET BOOKED</h1>
  <table border="2">
      <thead>
          <tr>
              <th> Name </th>
              <th> Address </th>
              <th> Arrivals </th>
              <th> Email </th>
              <th> Guest </th>
              <th> Leaving </th>
              <th> Location </th>
              <th> Phone </th>
          </tr>
      </thead>

      <tbody>
          <tr *ngFor="let book of ticketdetails">
              <td> {{book.name}} </td>
              <td> {{book.address}} </td>
              <td> {{book.arrivals}} </td>
              <td> {{book.email}} </td>
              <td> {{book.guest}} </td>
              <td> {{book.leaving}} </td>
              <td> {{book.location}} </td>
              <td> {{book.phone}} </td>
          </tr>    
      </tbody>      
  </table>
</div>
<p>Click here to go back...!!</p>
<a class="nav-link" routerLink="/add-component">BOOK YOUR TICKET</a>
</div>